# Ignore compiled files
/out/
/bin/
/*.class

# Ignore data & backups
/data/
/backup/

# Ignore DomainCheck.java & ServiceCheck.java
src/edu/ccrm/cli/DomainCheck.java
src/edu/ccrm/cli/ServiceCheck.java


# Ignore OS/IDE junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
