# Ignore compiled files
/out/
/bin/
/*.class

# Ignore data & backups
/data/
/backup/
/src/cli/DomainCheck.java/
/src/cli/ServiceCheck.java/

# Ignore OS/IDE junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
